<!DOCTYPE html>
<html lang="{{lang}}" title="{{title}}" translate="{{translate}}">

	<head title="{{title}}">
		<title>
			{{title}}
		</title>
		<meta charset='utf-8' />
		<meta name="author" content="{{author}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href='css/normalize.css' rel='stylesheet' />
        <link href='css/index.css' rel='stylesheet' />
	
		
	</head>

	<body>

		{{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
		{{{body}}}

		
	</body>

</html>
