<!DOCTYPE html>
<html lang="{{lang}}" title="{{title}}" translate="{{translate}}">

	<head title="{{title}}">
		<title>
			{{title}}
		</title>
		<meta charset='utf-8' />
		<meta name="author" content="{{author}}" />
		<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href='css/normalize.css' rel='stylesheet' />
        <link href='/css/main.css' rel='stylesheet' />
	</head>

	<body>
		<div class="page">
		<section class="page_section">
			
				
		{{{body}}}

</div>
		</section>

	</body>
	
</html>
